h1 {
  font-family: Impact;
  text-decoration: Bold;
  color: green;
  text-align: center;
}


img {
  height: 200px;
  width: 200px;
}

p {
  font-family: Lucida Console;
  text-decoration: italic;
  color: #FF4500;
}

a {
  color: gold;
  text-decoration: underline;
}

